.App {
display: flex;
justify-content: space-around;
}

.song{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  width: 50vh;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin-top: 20px;
  padding-top: 0.7rem;
  background-color: rgb(46, 46, 102);

 
}

.body{
    display:flex;
    justify-content: space-between;
    font-size: 150%;
    font-family: 'monospace';
}

.ShowVideo {
    text-decoration: none;
    color:white;
}

.Title{
    color:rgb(46, 46, 102);
}

.containersong{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

